p {
  font-size: 20px;
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pimg1 {
  background-image: url("https://wallpapers.com/images/featured/flowers-nature-pictures-ygwro59z1sk51w2w.jpg");
  min-height: 400px;
}
.pimg2 {
  background-image: url("https://images.pexels.com/photos/206359/pexels-photo-206359.jpeg?cs=srgb&dl=pexels-pixabay-206359.jpg&fm=jpg");
  min-height: 400px;
}
.pimg3 {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/039/210/128/small_2x/ai-generated-beautiful-nature-mountain-scenery-professionalgraphy-photo.jpg");
  min-height: 400px;
}

.pimg4,
.pimg5,
.pimg6 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pimg4 {
  background-image: url("https://wallpapers.com/images/featured/flowers-nature-pictures-ygwro59z1sk51w2w.jpg");
  min-height: 400px;
}
.pimg5 {
  background-image: url("https://images.pexels.com/photos/206359/pexels-photo-206359.jpeg?cs=srgb&dl=pexels-pixabay-206359.jpg&fm=jpg");
  min-height: 400px;
}
.pimg6 {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/039/210/128/small_2x/ai-generated-beautiful-nature-mountain-scenery-professionalgraphy-photo.jpg");
  min-height: 400px;
}

.pimg7,
.pimg8,
.pimg9 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pimg7 {
  background-image: url("https://wallpapers.com/images/featured/flowers-nature-pictures-ygwro59z1sk51w2w.jpg");
  min-height: 400px;
}
.pimg8 {
  background-image: url("https://images.pexels.com/photos/206359/pexels-photo-206359.jpeg?cs=srgb&dl=pexels-pixabay-206359.jpg&fm=jpg");
  min-height: 400px;
}
.pimg9 {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/039/210/128/small_2x/ai-generated-beautiful-nature-mountain-scenery-professionalgraphy-photo.jpg");
  min-height: 400px;
}

.pimg10,
.pimg11,
.pimg12 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pimg10 {
  background-image: url("https://wallpapers.com/images/featured/flowers-nature-pictures-ygwro59z1sk51w2w.jpg");
  min-height: 400px;
}
.pimg11 {
  background-image: url("https://images.pexels.com/photos/206359/pexels-photo-206359.jpeg?cs=srgb&dl=pexels-pixabay-206359.jpg&fm=jpg");
  min-height: 400px;
}
.pimg12 {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/039/210/128/small_2x/ai-generated-beautiful-nature-mountain-scenery-professionalgraphy-photo.jpg");
  min-height: 400px;
}

.pimg13,
.pimg14,
.pimg15 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pimg13 {
  background-image: url("https://wallpapers.com/images/featured/flowers-nature-pictures-ygwro59z1sk51w2w.jpg");
  min-height: 400px;
}
.pimg14 {
  background-image: url("https://images.pexels.com/photos/206359/pexels-photo-206359.jpeg?cs=srgb&dl=pexels-pixabay-206359.jpg&fm=jpg");
  min-height: 400px;
}
.pimg15 {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/039/210/128/small_2x/ai-generated-beautiful-nature-mountain-scenery-professionalgraphy-photo.jpg");
  min-height: 400px;
}

.pimg16,
.pimg17,
.pimg18 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pimg16 {
  background-image: url("https://wallpapers.com/images/featured/flowers-nature-pictures-ygwro59z1sk51w2w.jpg");
  min-height: 400px;
}
.pimg17 {
  background-image: url("https://images.pexels.com/photos/206359/pexels-photo-206359.jpeg?cs=srgb&dl=pexels-pixabay-206359.jpg&fm=jpg");
  min-height: 400px;
}
.pimg16 {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/039/210/128/small_2x/ai-generated-beautiful-nature-mountain-scenery-professionalgraphy-photo.jpg");
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}
.section-dark {
  background-color: #282e34;
  color: #ddd;
}
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
  opacity: 0.7;
}
@media (max-width: 568px) {
  .pimg1 .pimg2 .pimg3 {
    background-attachment: scroll;
  }
}
